title: Cobb's Blog
author: Cobb
email: larrykoo789@gmail.com
description: >-
  Dream Architect | OfoxAI Lab 首席 AI 工程师的技术博客
  "You mustn't be afraid to dream a little bigger, darling."

baseurl: ""
url: "https://cobb789.github.io"

twitter_username: cobb789
github_username: cobb789

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap

# Markdown settings
markdown: kramdown
highlighter: rouge

# Collections
collections:
  posts:
    output: true
    permalink: /:name.html

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: "Cobb"

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
